h1{
  margin: 25px 90px 13px;
}

label{
  font-size: large;
  color: #787171;
}

.text-box{
  border: 1px solid rgb(129 126 126 / 40%);
  display: flex;
  flex-direction: column;
  height: 245px;
  padding: 11px 11px 13px 11px;
  margin: 7px 89px 0px;
  border-radius: 9px;
}

#type-notes:focus{
outline-color: #065fd4;
}

 #type-notes{
  padding: 10px;
  margin: 12px 7px 0px;
  height:950px;
  border-radius: 5px;
  border: 0;
  resize: vertical;
}

#create-note{
  background-color: #065fd4;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 6px 10px;
  margin: 11px 7px 0px;
} 

#create-note:hover{
background-color: #004369;
}

.div{
  border: 1px solid rgb(129 126 126 / 40%);
  flex-direction: column;
  margin-top: 0px;
  height: 115px;
  padding-left: 11px;
  border-radius: 9px;
  margin: 0px 89px;
}

.date{
  float: left;
  padding-left: 5px;
}

.date::after{
  content: ", ";
}

.time{
  text-indent: 12px;
}




























/* #date-time-text-container{ */
  /* border: 1px solid black;
} */

/* #child-date-time{
  display: flex;
  padding: 10px;
  margin: 0px 5px;
} */
 /* #date-time-list{
  list-style-type: none;
  /*border: 1px solid rgb(129 126 126 / 40%);
  border-radius: 9px;
  margin: 0px 87px;
 padding: 20px;
 /* height: 14%; */
/* }  */

/* #text-list{
  list-style-type: none;
} */

/* #list{
  float: left;
} */

/* #list::after{
  content: ',';
}

#order-list li:last-child::after{
  content: '';
} */